.movie-poster {
  height: 640px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
    width: 340px;
    height: min-content;
}

/* body{
  background-color: black;
} */


/* RAM   */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 1rem auto;
  gap: 1rem;
}

.not-foumd{
  text-align: center;
  font-size: 49px;
  margin:0px;
}

.not-found-container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.movie-detail-container{
  max-width: 750px;
  padding: 20px;
  
}

.home-container{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.add-movie-form{
  display: flex;
  flex-direction: column;
}